:root {
  background: #0D0D0D;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
}

h1 {
  font-size: 24px;
  margin: 0;
}

button {
  background: #F2F2F2;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.wrapper {
  overflow: scroll;
  background: #F2F2F2;
  border: 2px solid #17A68C;
  border-radius: 6px;
  min-width: 85vw;
  height: 85vh;
}

.header {
  background: #17A68C;
  padding: 16px;
  display: flex;
  justify-content: end;
}

.user-card {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.user-item {
  line-height: 2.4;
  padding-left: 16px;
  padding-right: 16px;
}

.user-buttons {
  margin-left: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding-left: 0;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
